<div>
  <p>ユーザー新規作成</p>
  <br>
  <div>
    <%= form_with model: @user, url: user_path do |f| %>
      <div>
        <%= f.label 'ユーザー名' %>
        <br>
        <%= f.text_field :name, placeholder: 'ユーザー名' %>
        <br>
        # 後々editで使う。f.text_field :name, value: params[:name], placeholder: 'ユーザー名'
      </div>
      <div>
        <%= f.label 'メールアドレス' %>
        <br>
        <%= f.text_field :email, placeholder: 'メールアドレス' %>
      </div>
      <div>
        <%= f.label 'パスワード' %>
        <br>
        <%= f.password_field :password, placeholder: 'パスワード' %>
      </div>
      <div>
        <p>パスワード(確認)</p>
        <input type="password" placeholder="パスワード(確認)" >
      </div>
      <%= f.submit "送信" %>
    <% end %>
    </div>
</div>