<%= link_to "管理画面に戻る", schedules_path %>

<h2><%=  %></h2>

<table>
  <thead>
    <th scope="col">時刻</th>
    <% 7.times do |w| %>
      <th scope="col"><%= "#{(@time + 86400 * w).strftime("%a")}" %></th>
    <% end %>
  </thead>
  <tbody>
    <% 48.times do |t| %>
      <tr>
      <% time_separate_start = @time + 60 * 30 * t %>
      <% time_separate_end = @time + 60 * 30 * (t + 1) %>
        <th scope="row"><%= "#{time_separate_start.strftime("%H:%M")} ~ #{time_separate_end.strftime("%H:%M")}" %></th>
        <% 7.times do |w| %>
          <td>
            <% if @schedule.plans.find_by(starting_day_of_week: w.to_i, starting_time_before_type_conversion: time_separate_start) %>
              <%= @schedule.plans.find_by(starting_day_of_week: w.to_i, starting_time_before_type_conversion: time_separate_start).name %>
            <% else %>
              <%= link_to "+", new_schedule_plans_path(@schedule, starting_day_of_week: w.to_i, starting_time_before_type_conversion: time_separate_start) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
