<%= form_with model: plan, url: @url, method: @method do |f| %>
  <div class="field">
    <%= f.label t('plans.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('plans.starting_day_of_week') %><br />
    <%= f.select :starting_day_of_week, Plan.starting_day_of_weeks.keys.to_a, include_blank: "曜日" %>
  </div>
  <div class="field">
    <%= f.label t('plans.starting_time') %><br />
    <%= f.time_select :starting_time_before_type_conversion, {minute_step: 30} %>
  </div>
  <div class="field">
    <%= f.label t('plans.ending_day_of_week') %><br />
    <%= f.select :ending_day_of_week, Plan.ending_day_of_weeks.keys.to_a, include_blank: "曜日" %>
  </div>
  <div class="field">
    <%= f.label t('plans.ending_time') %><br />
    <%= f.time_select :ending_time_before_type_conversion, {minute_step: 30} %>
  </div>
  <div class="actions">
    <%= f.submit nil %>
  </div>
<% end %>
<%= link_to "戻る", :back %>
<% if plan.id.present? %>
  <%= button_to "削除", schedule_plan_path(plan.schedule, plan), method: :delete, data: { turbo_confirm: "削除しますか？" } %>
<% end %>
